<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label class="label">Enter length</label>
        <div class="control">
          <input class="input" [value]="length" (input)="onChangeLength($any($event.target).value)"/>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseLetters()" [checked]="includeLetters"/>
            Use Letters
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseNumbers()" [checked]="includeNumbers"/>
            Use Symbols
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseSymbols()" [checked]="includeSymbols"/>
            Use Numbers
          </label>
        </div>
      </div>

      <button
        (click)="onButtonClicked()"
        [disabled]="!((includeSymbols || includeNumbers || includeLetters) && !!length)"
        class="button is-link is-fullwidth"
      >
        Generate!
      </button>
      <br/>
      <div class="box is-bordered" *ngIf="password">
        <label class="label">Your Password</label>
        <div class="field has-addons has-addons-fullwidth">
          <div class="control">
              <input class="input" [value]="password"/>
          </div>
          <div class="control">
            <button class="button is-link" (click)="copyMessage()">
              <fa-icon [icon]="faCopy"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
